@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.btn-round {
  background: #ff715b;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.15s;
  box-shadow: 0 0 15px #202020;
}
.btn-round:hover {
  box-shadow: 0 0 5px #000;
  background: #ff5d44;
}
.btn-round.light-theme {
  box-shadow: 0 0 10px 2px #979797;
}
.btn-round.up {
  background: #f1f1f1;
}
.btn-round.up i {
  color: #ff715b;
}

.btn-card {
  padding: 10px 25px;
  border-radius: 5px;
  background: #ff715b;
  color: #12141D;
  transition: all 0.1s;
}
.btn-card:hover {
  background: #ff5d44;
}

.btn-back {
  padding: 10px 25px;
  background-color: red;
}

#theme-toggle-btn {
  background: none;
  border: 3px solid #ff715b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-toggle-btn .bulb {
  color: #ff715b;
  font-size: 22px;
  transition: color 0.1s ease-in-out;
}
#theme-toggle-btn .bulb:hover {
  color: #fff;
}
#theme-toggle-btn .bulb.show {
  display: block;
}
#theme-toggle-btn .bulb.hide {
  display: none;
}

.text-highlight {
  color: #ff715b;
}
.text-highlight.light-theme {
  color: #ff2200;
}

.card {
  width: 50%;
  height: 60%;
  background-color: #1E2028;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0px #141414;
  transition: all 0.1s ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  transform: translateY(2rem);
  transition: box-shadow 0.2s ease-in-out;
}
.card.light-theme {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 20px 0px #808080;
}
.card.light-theme:hover {
  box-shadow: 2px 2px 15px 0px #797979;
}
.card:hover {
  box-shadow: 2px 2px 10px 0px #0a0a0a;
}
.card .image {
  height: 100%;
}
.card .image.left {
  border-radius: 20px 0 0 20px;
}
.card .image.right {
  border-radius: 0 20px 20px 0;
}
.card .image#rkv {
  background: url("../img/1.jpg") no-repeat center center/cover;
}
.card .image#adms {
  background: url("../img/adms.jpg") no-repeat center center/cover;
}
.card .image#kods {
  background: url("../img/kods.png") no-repeat left center/cover;
}
.card .image#edmv {
  background: url("../img/edmv.jpg") no-repeat right center/cover;
}
.card .image#izvele {
  background: url("../img/r6vsk.jpg") no-repeat center center/cover;
}
.card .image#lu {
  background: url("../img/lu2.jpg") no-repeat center center/cover;
}
.card .info {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 90px 50px 50px 50px;
}
.card .info.light-theme {
  color: #12141D;
}
.card .info h2 {
  margin-bottom: 2rem;
  font-size: 38px;
}
.card .info p {
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.8rem;
}

body {
  background-color: #12141D;
  font-family: "Merriweather", serif;
}
body.light-theme {
  background-color: #e9e9e9;
}

.index #index-header {
  background-image: url("../img/lu2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.index #index-header-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 29, 0.88);
}
.index #index-header-overlay.light-theme {
  background-color: rgba(161, 161, 161, 0.88);
}
.index #index-header-overlay #index-header-gradient {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, rgba(18, 0, 0, 0), rgb(18, 20, 29));
}
.index #index-header-overlay #index-header-gradient.light-theme {
  background-image: linear-gradient(to bottom, rgba(161, 161, 161, 0.068), rgb(233, 233, 233));
}
.index #index-header #nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  z-index: 3;
}
.index #index-header #nav-bar .nav-item-text {
  color: #89899b;
  transition: all 0.1s;
}
.index #index-header #nav-bar .nav-item-text:hover {
  color: #f1f1f1;
  border-bottom: 1px #ff715b solid;
}
.index #index-header #nav-bar .nav-item-text.light-theme {
  color: #12141D;
}
.index #index-header #main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}
.index #index-header #main-section #header-h3 {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 0.2rem;
}
.index #index-header #main-section #header-h3.light-theme {
  color: #12141D;
}
.index #index-header #main-section #header-h1 {
  font-size: 80px;
  font-style: italic;
  margin-bottom: 1rem;
}
.index #index-header #main-section #header-h1.light-theme {
  color: #12141D;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #12141D;
}
.card-section .btn-wrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.card-section .btn-round {
  transform: translateY(2rem);
}
.card-section.light-theme {
  background-color: #e9e9e9;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.information-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.information-header #information-header-text {
  color: #f1f1f1;
  font-size: 60px;
  margin-bottom: 0.5rem;
  font-family: "Lora", serif;
}
.information-header #information-header-text.light-theme {
  color: #12141D;
}
.information-header .header-line {
  height: 2px;
  width: 120px;
  background: #ff715b;
}
.information .image-section {
  width: 800px;
  height: 500px;
  margin-bottom: 3rem;
}
.information .image-section .image-wrap {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: gray;
}
.information .image-section .image-wrap#rkv {
  background: url("../img/1.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#microsoft {
  background: url("../img/microsoft.png") no-repeat center center/cover;
}
.information .image-section .image-wrap#adms {
  background: url("../img/adms.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#orkestris {
  background: url("../img/orkestris.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#minhene {
  background: url("../img/minhene.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#ergli {
  background: url("../img/ergli.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#edmv {
  background: url("../img/edmv2.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#klase {
  background: url("../img/klase.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#auseklitis {
  background: url("../img/auseklitis.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#r6vsk {
  background: url("../img/r6vsk.jpg") no-repeat center center/cover;
}
.information .image-section .image-wrap#cs50 {
  background: url("../img/cs50.png") no-repeat center center/cover;
}
.information .image-section .image-wrap#lu {
  background: url("../img/lu2.jpg") no-repeat center center/cover;
}
.information .image-section .image-text {
  color: #ccc;
  font-weight: 300;
  margin-top: 0.3rem;
  margin-left: 1rem;
}
.information .image-section .image-text.light-theme {
  color: #333;
}
.information .text-section {
  color: #f1f1f1;
  max-width: 38vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.information .text-section.light-theme {
  color: #12141D;
}
.information .text-section p {
  line-height: 2.5rem;
}

@media only screen and (max-width: 1280px) {
  .index #index-header #nav-bar {
    gap: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .index #index-header #nav-bar {
    display: none;
  }
  .main-text {
    padding: 1rem 3rem;
    text-align: center;
  }
  .main-text h3 {
    font-size: 20px !important;
    margin-bottom: 1rem !important;
  }
  .main-text h1 {
    font-size: 40px !important;
  }
  .card {
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .card .image {
    flex: 1;
    overflow: hidden;
    border-radius: 0 !important;
  }
  .card .info {
    flex: 1;
    padding: 30px 20px;
  }
  .card .info h2 {
    font-size: 30px;
  }
  .card .info p {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .card .info .btn-card {
    width: 100%;
    text-align: center;
  }
  .information .text-section {
    max-width: 100%;
    padding: 0 3rem;
  }
  #information-header-text {
    text-align: center;
  }
  .information-header #information-header-text {
    font-size: 40px;
  }
}
#footer {
  color: #89899b;
  text-align: center;
  transform: translateY(-3rem);
}/*# sourceMappingURL=main.css.map */